---
layout: default
---

    {% for post in paginator.posts %}
      <article>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </article>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
      <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{paginator.previous_page_path | remove: "index.html" }}" class="previous">&#8592; Neuere Beitr&auml;ge</a>
        {% endif %}

        {% if paginator.next_page %}
        <a href="{{paginator.next_page_path}}" class="next">&Auml;ltere Beitr&auml;ge &#8594;</a>
        {% endif %}
      </div>
    {% endif %}
